<div>
    <nav class ="navbar transparent  sticky-top fw-bold bg-trasparent ">
        <div class="container justify-content-center">
            <a class = "navbar-brand " routerLink = "inicio" >
            </a>
            <a class="nav-link fw-bold" routerLink = "inicio">Inicio</a>
            <a class="nav-link fw-bold" routerLink = "clientes">Cuerpo</a>
            <a class="nav-link fw-bold" routerLink = "pasteles">Demonios</a>
            <a class="nav-link fw-bold" routerLink = "pelea">Peleas</a>
            
        </div>
    </nav>
    <div class="imgLogo container-fluid">   
        
        <div class="d-flex justify-content-center align-items-center h-100">
            <div class="text-white fw-bold  ">
                <h1 class="mb-3 center-text">Hyakkimaru</h1>
                <h4 class="mb-3 center-text">Un ronin que busca partes de su cuerpo que fueron robadas por demonios</h4>
            </div>
        </div>
        
    </div>
    
    
</div>